3. Modelos no supervisados/catboost_info/catboost_training.json
3. Modelos no supervisados/catboost_info/learn_error.tsv
3. Modelos no supervisados/catboost_info/time_left.tsv
3. Modelos no supervisados/catboost_info/learn/events.out.tfevents
